<div class="container-md my-5">
    <div class="row">
        <div class="col">
            <div class="heading">
                <h1>Update: {{blog.name}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="/blog/{{blog._id}}/update-handle" method="POST">
            <input class="d-none" type="text" name="_id" value="{{blog._id}}">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Blog Name"
                    aria-describedby="nameHelp" value="{{blog.name}}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" name="description" id="description" class="form-control" placeholder="Description"
                    aria-describedby="descriptionHelp" value="{{blog.description}}">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image(URL)</label>
                <input type="text" name="image" id="image" class="form-control" placeholder="Image url"
                    aria-describedby="imageHelp" value="{{blog.image}}">
            </div>
            <div class="form-group">
                <label for="" class="form-label mt-4"><b>Content</b></label>
                <textarea class="p-3 d-block" name="content" id="content" cols="90" rows="10">
                    {{blog.content}}
                </textarea>
            </div>
            {{!-- <button type="submit" class="btn btn-1 my-5 px-5 py-2" data-bs-toggle="modal"
                data-bs-target="#update-modal">Submit</button> --}}
            <button type="button" class="btn btn-1 my-5 px-5 py-2" data-bs-toggle="modal"
                data-bs-target="#update-modal">Submit</button>
        </form>
    </div>
</div>


<div class="modal fade round-0" id="update-modal" tabindex="-1" aria-labelledby="update-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="update-modalLabel">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want update the blog ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-update-btn">Save
                    changes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#save-update-btn').click(function () {
            $('form[method="POST"]').submit();
        });
    })
</script>